<nav class="navbar">

    <div class="container">

        <div class="navbar-container">

            <!-- Logo -->

            <a href="/" class="logo">

                <div class="logo-icon">

                    <i class="fa-solid fa-leaf"></i>

                </div>

                <div class="logo-text">

                    <h2>AYUR</h2>

                    <span>ECOSYSTEM</span>

                </div>

            </a>

            <!-- Menu -->

            <ul class="nav-links">

                <li><a href="/" class="active">Home</a></li>

                <li><a href="/about">About</a></li>

                <li><a href="/projects">Projects</a></li>

                <li><a href="/contact">Contact</a></li>

            </ul>

            <!-- Button -->

            <a href="/projects" class="btn-primary">

                Explore

                <i class="fa-solid fa-arrow-right"></i>

            </a>

            <!-- Mobile -->

            <div class="menu-btn">

                <i class="fa-solid fa-bars"></i>

            </div>

        </div>

    </div>

</nav>