<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("../partials/head") %>

</head>

<body>

    <!-- Navbar -->
    <%- include("../partials/navbar") %>

    <!-- Main Content -->
    <main>

        <%- body %>

    </main>

    <!-- Footer -->
    <%- include("../partials/footer") %>

</body>

</html>