/*================ NAVBAR =================*/

@media(max-width:992px){

.nav-links{

display:none;

}

.navbar .btn-primary{

display:none;

}

.menu-btn{

display:block;

}

.logo-text span{

display:none;

}

}
@media(max-width:992px){

.vision-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.vision-grid{

grid-template-columns:1fr;

}

}